@import './variables';
@import './mixin';
@import './utils';
@import './form';

html,
#root, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1.MuiTypography-root {
    font-size: 2.75rem;

    @include breakpoint(sm) {
        font-size: 3.75rem;
    }
}
// app sticky footer layout
#root {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    padding-top: 56px;

    @include breakpoint(sm) {
        padding-top: 64px;
    }
}

.footer {
    flex-shrink: 0;
}

.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

